body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:724px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:724px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:354px;
  width:1394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1798 {
  position:absolute;
  left:450px;
  top:270px;
  width:202px;
  height:16px;
  font-size:12px;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1798_ann {
  position:absolute;
  left:645px;
  top:266px;
  width:1px;
  height:1px;
}
#u1800 {
  position:absolute;
  left:688px;
  top:250px;
  width:694px;
  height:365px;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:90px;
}
#u1801 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1802 {
  position:absolute;
  left:2px;
  top:37px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u1803 {
  position:absolute;
  left:45px;
  top:0px;
  width:148px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1804 {
  position:absolute;
  left:2px;
  top:37px;
  width:144px;
  word-wrap:break-word;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:90px;
}
#u1805 {
  position:absolute;
  left:193px;
  top:0px;
  width:156px;
  height:90px;
  text-align:center;
}
#u1806 {
  position:absolute;
  left:2px;
  top:37px;
  width:152px;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:90px;
}
#u1807 {
  position:absolute;
  left:349px;
  top:0px;
  width:167px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1808 {
  position:absolute;
  left:2px;
  top:37px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
}
#u1809 {
  position:absolute;
  left:516px;
  top:0px;
  width:173px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1810 {
  position:absolute;
  left:2px;
  top:37px;
  width:169px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:90px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:90px;
  width:45px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1812 {
  position:absolute;
  left:2px;
  top:37px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u1813 {
  position:absolute;
  left:45px;
  top:90px;
  width:148px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1814 {
  position:absolute;
  left:2px;
  top:37px;
  width:144px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:90px;
}
#u1815 {
  position:absolute;
  left:193px;
  top:90px;
  width:156px;
  height:90px;
  text-align:center;
}
#u1816 {
  position:absolute;
  left:2px;
  top:37px;
  width:152px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:90px;
}
#u1817 {
  position:absolute;
  left:349px;
  top:90px;
  width:167px;
  height:90px;
  text-align:center;
}
#u1818 {
  position:absolute;
  left:2px;
  top:37px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
}
#u1819 {
  position:absolute;
  left:516px;
  top:90px;
  width:173px;
  height:90px;
  text-align:center;
}
#u1820 {
  position:absolute;
  left:2px;
  top:37px;
  width:169px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:90px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:180px;
  width:45px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1822 {
  position:absolute;
  left:2px;
  top:37px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u1823 {
  position:absolute;
  left:45px;
  top:180px;
  width:148px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1824 {
  position:absolute;
  left:2px;
  top:37px;
  width:144px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:90px;
}
#u1825 {
  position:absolute;
  left:193px;
  top:180px;
  width:156px;
  height:90px;
  text-align:center;
}
#u1826 {
  position:absolute;
  left:2px;
  top:37px;
  width:152px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:90px;
}
#u1827 {
  position:absolute;
  left:349px;
  top:180px;
  width:167px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1828 {
  position:absolute;
  left:2px;
  top:37px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
}
#u1829 {
  position:absolute;
  left:516px;
  top:180px;
  width:173px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1830 {
  position:absolute;
  left:2px;
  top:37px;
  width:169px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:90px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:270px;
  width:45px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1832 {
  position:absolute;
  left:2px;
  top:37px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u1833 {
  position:absolute;
  left:45px;
  top:270px;
  width:148px;
  height:90px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1834 {
  position:absolute;
  left:2px;
  top:37px;
  width:144px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:90px;
}
#u1835 {
  position:absolute;
  left:193px;
  top:270px;
  width:156px;
  height:90px;
  text-align:center;
}
#u1836 {
  position:absolute;
  left:2px;
  top:37px;
  width:152px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:90px;
}
#u1837 {
  position:absolute;
  left:349px;
  top:270px;
  width:167px;
  height:90px;
  text-align:center;
}
#u1838 {
  position:absolute;
  left:2px;
  top:37px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
}
#u1839 {
  position:absolute;
  left:516px;
  top:270px;
  width:173px;
  height:90px;
  text-align:center;
}
#u1840 {
  position:absolute;
  left:2px;
  top:37px;
  width:169px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1841 {
  position:absolute;
  left:1066px;
  top:260px;
  width:87px;
  height:70px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:27px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1843 {
  position:absolute;
  left:1066px;
  top:352px;
  width:87px;
  height:70px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:27px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1845 {
  position:absolute;
  left:720px;
  top:213px;
  width:150px;
  height:16px;
  text-align:center;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1847 {
  position:absolute;
  left:873px;
  top:213px;
  width:154px;
  height:16px;
  text-align:center;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1849 {
  position:absolute;
  left:1027px;
  top:213px;
  width:150px;
  height:16px;
  text-align:center;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1851 {
  position:absolute;
  left:1180px;
  top:213px;
  width:150px;
  height:16px;
  text-align:center;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1851_ann {
  position:absolute;
  left:1323px;
  top:209px;
  width:1px;
  height:1px;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1853 {
  position:absolute;
  left:1066px;
  top:441px;
  width:87px;
  height:70px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:27px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1855 {
  position:absolute;
  left:1066px;
  top:533px;
  width:87px;
  height:70px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:27px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857 {
  position:absolute;
  left:790px;
  top:163px;
  width:80px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1857_ann {
  position:absolute;
  left:863px;
  top:159px;
  width:1px;
  height:1px;
}
#u1858 {
  position:absolute;
  left:706px;
  top:294px;
  width:20px;
  height:16px;
}
#u1859 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1860 {
  position:absolute;
  left:706px;
  top:379px;
  width:20px;
  height:16px;
}
#u1861 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1862 {
  position:absolute;
  left:706px;
  top:464px;
  width:20px;
  height:16px;
}
#u1863 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1864 {
  position:absolute;
  left:706px;
  top:550px;
  width:20px;
  height:16px;
}
#u1865 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
