body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:410px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:197px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1684 {
  position:absolute;
  left:0px;
  top:-5px;
  width:550px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u1685 {
  position:absolute;
  left:20px;
  top:18px;
  width:528px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1686 {
  position:absolute;
  left:502px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1687 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1688 {
  position:absolute;
  left:18px;
  top:72px;
  width:163px;
  height:16px;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  position:absolute;
  left:300px;
  top:72px;
  width:184px;
  height:16px;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  position:absolute;
  left:106px;
  top:370px;
  width:57px;
  height:16px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:234px;
}
#u1694 {
  position:absolute;
  left:18px;
  top:126px;
  width:232px;
  height:234px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:109px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  position:absolute;
  left:388px;
  top:373px;
  width:57px;
  height:16px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:234px;
}
#u1698 {
  position:absolute;
  left:300px;
  top:126px;
  width:232px;
  height:234px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:109px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
