body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:520px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:252px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1365 {
  position:absolute;
  left:0px;
  top:-5px;
  width:820px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u1366 {
  position:absolute;
  left:20px;
  top:18px;
  width:798px;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1367 {
  position:absolute;
  left:770px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1368 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:370px;
  top:123px;
  width:93px;
  height:16px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:370px;
  top:173px;
  width:163px;
  height:16px;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:598px;
  top:173px;
  width:184px;
  height:16px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  position:absolute;
  left:370px;
  top:74px;
  width:79px;
  height:16px;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:598px;
  top:74px;
  width:85px;
  height:16px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:598px;
  top:123px;
  width:99px;
  height:16px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:42px;
  top:184px;
  width:57px;
  height:16px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u1383 {
  position:absolute;
  left:20px;
  top:73px;
  width:100px;
  height:101px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:168px;
  top:184px;
  width:57px;
  height:16px;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u1387 {
  position:absolute;
  left:146px;
  top:73px;
  width:100px;
  height:101px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:108px;
  top:479px;
  width:57px;
  height:16px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:234px;
}
#u1391 {
  position:absolute;
  left:20px;
  top:235px;
  width:232px;
  height:234px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:109px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:2px;
}
#u1393 {
  position:absolute;
  left:20px;
  top:216px;
  width:782px;
  height:1px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:-8px;
  width:778px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  position:absolute;
  left:458px;
  top:479px;
  width:57px;
  height:16px;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:234px;
}
#u1397 {
  position:absolute;
  left:370px;
  top:232px;
  width:232px;
  height:234px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:109px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
