body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1773 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:630px;
  overflow:hidden;
}
#u1773_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:630px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1773_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1774 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1775 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1776 {
  position:absolute;
  left:0px;
  top:41px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1777 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1778 {
  position:absolute;
  left:0px;
  top:82px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1779 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1780 {
  position:absolute;
  left:0px;
  top:123px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1781 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1782 {
  position:absolute;
  left:0px;
  top:164px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1783 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
