body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1502 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:630px;
  overflow:hidden;
}
#u1502_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:630px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1502_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1504 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1505 {
  position:absolute;
  left:0px;
  top:41px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1506 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1507 {
  position:absolute;
  left:0px;
  top:82px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1508 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1509 {
  position:absolute;
  left:0px;
  top:123px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1510 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1511 {
  position:absolute;
  left:0px;
  top:164px;
  width:220px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1512 {
  position:absolute;
  left:20px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
